<h1>Tickets</h1>
<a href="/tickets/new">Create New Ticket</a>
  <hr>
    <% @tickets.each do |t| %>
      <p> <%= t.title %> </p>
      <p><%= t.description %></p>
      <%= link_to "Delete", ticket_path(t), method: :delete, data:{confirm: "Are you sure you want to delete this request?"}, class: "btn btn-default" %> 
  <hr>
  <% end %>